.container {
  padding: 20px;
}

.movieDetails {
  margin-top: 15px;
  display: flex;
}

.movieImg {
  margin-right: 20px;
}

.title {
  margin-top: 0;
  color: rgb(72, 0, 94);
  font-size: 40px;
}

.descr {
  font-size: 24px;
}

.titleDescr {
  color: rgb(72, 0, 94);
  font-size: 30px;
}
